/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
/* line 38, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-constrained {
  width: 95%;
  margin: 0 auto;
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after {
    content: "";
    display: table;
    clear: both; }

/* line 46, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-header p, .l-header h2 {
  margin: 0; }

/* line 52, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-navigation {
  clear: right;
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-navigation:after {
    content: "";
    display: table;
    clear: both; }
  /* line 57, ../../../sass/layouts/frontpage/frontpage.layout.scss */
  .l-navigation .block-body p {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.381em; }

/* line 90, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-region--thumbnail-1 {
  height: 100%;
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 4, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
  width: 45.45455%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: left; }

/* line 95, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-region--thumbnail-2 {
  height: 100%;
  -sgs-span-settings: ("span": 2, "location": 3, "grid": 4, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
  width: 45.45455%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

/* line 100, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-region--thumbnail-3 {
  height: 100%;
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 4, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
  width: 45.45455%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: left; }

/* line 105, ../../../sass/layouts/frontpage/frontpage.layout.scss */
.l-region--thumbnail-4 {
  height: 100%;
  -sgs-span-settings: ("span": 2, "location": 3, "grid": 4, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
  width: 45.45455%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

@media (min-width: 44em) {
  /* line 130, ../../../sass/layouts/frontpage/frontpage.layout.scss */
  .l-header {
    overflow: hidden;
    *zoom: 1;
    padding: 1.42857% 0;
    background: url('../../../images/front-page-bg.jpg?1427089610') center top;
    background-size: cover; }
    /* line 136, ../../../sass/layouts/frontpage/frontpage.layout.scss */
    .l-header p, .l-header h2 {
      font-size: 1vw;
      margin: 0; }
    /* line 141, ../../../sass/layouts/frontpage/frontpage.layout.scss */
    .l-header .l-region--branding,
    .l-header .l-navigation,
    .l-header .l-region--video,
    .l-header .l-region--request {
      margin: 1.42857% 0; }
    /* line 147, ../../../sass/layouts/frontpage/frontpage.layout.scss */
    .l-header .l-region--branding {
      -sgs-span-settings: ("span": 4, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
      width: 31.42857%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 2.85714%;
      clear: both; }
    /* line 151, ../../../sass/layouts/frontpage/frontpage.layout.scss */
    .l-header .l-navigation {
      -sgs-span-settings: ("span": 8, "location": 5, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
      width: 65.71429%;
      clear: right;
      float: right;
      margin-right: 0; }
      /* line 157, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-navigation .block-body {
        background-color: black;
        color: white;
        text-align: center;
        text-transform: uppercase; }
      /* line 164, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-navigation .l-region--thumbnail-1 {
        -sgs-span-settings: ("span": 3, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 22.85714%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.85714%;
        clear: both; }
      /* line 167, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-navigation .l-region--thumbnail-2 {
        -sgs-span-settings: ("span": 3, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 22.85714%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.85714%; }
      /* line 170, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-navigation .l-region--thumbnail-3 {
        -sgs-span-settings: ("span": 3, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 22.85714%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.85714%; }
      /* line 173, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-navigation .l-region--thumbnail-4 {
        -sgs-span-settings: ("span": 3, "location": 10, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 22.85714%;
        clear: right;
        float: right;
        margin-right: 0; }
    /* line 179, ../../../sass/layouts/frontpage/frontpage.layout.scss */
    .l-header .l-region--video {
      -sgs-span-settings: ("span": 8, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
      width: 65.71429%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 2.85714%;
      clear: both; }
    /* line 185, ../../../sass/layouts/frontpage/frontpage.layout.scss */
    .l-header .l-region--request {
      text-align: center;
      -sgs-span-settings: ("span": 4, "location": 9, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
      width: 31.42857%;
      clear: right;
      float: right;
      margin-right: 0; }
      /* line 187, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request h2.pane-title, .l-header .l-region--request .pre-instructions, .l-header .l-region--request .form-wrapper {
        margin: 0.33vw 0; }
      /* line 190, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .form-item {
        margin: 0; }
      /* line 193, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .pane-entityform-block-signup-for-contact {
        border-radius: 1vw;
        position: relative;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        padding-bottom: 117.49%; }
      /* line 209, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request h2.pane-title {
        font-size: 2vw;
        line-height: 2vw;
        color: #1784c2;
        text-transform: uppercase;
        font-weight: 900; }
      /* line 219, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .pre-instructions {
        -sgs-span-settings: ("span": 12, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 100%;
        clear: right;
        float: right;
        margin-right: 0; }
        /* line 221, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .pre-instructions p {
          font-size: 1.33vw;
          line-height: 1.33vw;
          color: black; }
      /* line 237, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request input, .l-header .l-region--request textarea {
        resize: none;
        width: 100%;
        font-size: 1.5vw;
        line-height: 1.5vw; }
      /* line 243, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .field-name-field-name {
        -sgs-span-settings: ("span": 6, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 48.57143%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.85714%;
        clear: both; }
      /* line 247, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .field-name-field-phone {
        -sgs-span-settings: ("span": 6, "location": 7, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 48.57143%;
        clear: right;
        float: right;
        margin-right: 0; }
      /* line 251, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .field-name-field-email {
        -sgs-span-settings: ("span": 6, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 48.57143%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 2.85714%;
        clear: both; }
      /* line 254, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .field-name-field-website {
        -sgs-span-settings: ("span": 6, "location": 7, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 48.57143%;
        clear: right;
        float: right;
        margin-right: 0; }
      /* line 260, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .field-widget-text-textarea {
        -sgs-span-settings: ("span": 12, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 100%;
        clear: right;
        float: right;
        margin-right: 0;
        clear: both; }
        /* line 262, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .field-widget-text-textarea #edit-field-message-und-0-value {
          resize: none; }
        /* line 265, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .field-widget-text-textarea .grippie {
          display: none; }
      /* line 270, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .field-name-field-newsletter {
        -sgs-span-settings: ("span": 12, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 100%;
        clear: right;
        float: right;
        margin-right: 0; }
        /* line 272, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .field-name-field-newsletter .form-checkbox {
          -sgs-span-settings: ("span": 1, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
          width: 5.71429%;
          clear: right;
          float: left;
          margin-left: 0;
          margin-right: 2.85714%;
          clear: both; }
        /* line 277, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .field-name-field-newsletter input.form-checkbox {
          width: 1.4vw;
          height: 1.4vw; }
        /* line 283, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .field-name-field-newsletter .option {
          -sgs-span-settings: ("span": 11, "location": 2, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
          width: 91.42857%;
          clear: right;
          float: right;
          margin-right: 0;
          font-size: 1vw;
          line-height: 1vw;
          text-align: left;
          color: rgba(0, 0, 0, 0.5); }
      /* line 294, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .form-actions {
        -sgs-span-settings: ("span": 12, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
        width: 100%;
        clear: right;
        float: right;
        margin-right: 0; }
        /* line 297, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .form-actions .form-submit {
          -sgs-span-settings: ("span": 10, "location": 2, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
          width: 82.85714%;
          float: left;
          margin-right: -100%;
          margin-left: 8.57143%;
          clear: none;
          font-size: 2vw;
          line-height: 3vw;
          font-weight: bold;
          color: white;
          border-radius: 0.5vw; }
        /* line 316, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .form-actions input[type="submit"] {
          background: #1784c2; }
        /* line 319, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .form-actions input:hover {
          background: black; }
      /* line 324, ../../../sass/layouts/frontpage/frontpage.layout.scss */
      .l-header .l-region--request .pane-custom {
        margin-top: -2vw; }
        /* line 325, ../../../sass/layouts/frontpage/frontpage.layout.scss */
        .l-header .l-region--request .pane-custom p {
          opacity: 0.33;
          font-size: 1vw;
          line-height: 1vw; }

  /* line 337, ../../../sass/layouts/frontpage/frontpage.layout.scss */
  .l-constrained {
    -sgs-span-settings: ("span": 10, "location": 2, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 82.85714%;
    float: left;
    margin-right: -100%;
    margin-left: 8.57143%;
    clear: none; }

  /* line 347, ../../../sass/layouts/frontpage/frontpage.layout.scss */
  .l-main.l-constrained {
    overflow: hidden;
    *zoom: 1;
    -sgs-span-settings: ("span": 8, "location": 3, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (null: null));
    width: 65.71429%;
    float: left;
    margin-right: -100%;
    margin-left: 17.14286%;
    clear: none; } }
/* @include breakpoint($desk, true) {
  .l-constrained {
  //  max-width: 2930px;
//   //   //.block__title{
//   //   //}
//   // max-width: $desk;
     width: 80%;
  }
} */

/*# sourceMappingURL=frontpage.layout.css.map */
